html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Maven Pro", sans-serif;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  display: grid;
  grid-template-columns: 106px 1fr 98px;
  grid-template-rows: 48px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
}

@media (min-width: 768px) {
  header {
    grid-template-rows: 32px 48px;
    grid-template-columns: 106px 1fr 49px;
  }
}

@media (min-width: 1024px) {
  header {
    grid-template-columns: 1fr 49px;
  }
}

.nav-top {
  background-color: black;
  grid-column: span 2;
  display: none;
  justify-content: space-between;
  padding-right: 10px;
}

@media (min-width: 768px) {
  .nav-top {
    display: flex;
  }
}

.nav-top ul {
  display: flex;
  margin: 0 10px;
}

.nav-top a {
  display: block;
  color: rgba(255, 255, 255, 0.705);
  text-decoration: none;
  font-size: 13px;
  line-height: 32px;
  margin-left: 12px;
}

.nav-top a:hover {
  color: white;
}

#nav-news-item {
  color: white;
}

.nav-logo {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .nav-logo {
    grid-row: span 2;
  }
}

@media (min-width: 1024px) {
  .nav-logo {
    display: none;
  }
}

.nav-logo img {
  width: 66px;
  height: 16px;
}

.nav-center ul {
  display: none;
  align-items: center;
  height: 100%;
  margin-left: 10px;
}

@media (min-width: 768px) {
  .nav-center > ul {
    display: flex;
  }
}

.nav-center a {
  color: rgb(170, 170, 170);
  font-size: 14px;
  text-decoration: none;
  padding: 10px;
  display: block;
  font-weight: 500;
}

.nav-center a:hover {
  color: black;
}

.hidden-links {
  display: none;
}

@media (min-width: 1024px) {
  .hidden-links {
    display: block;
  }
}

.nav-icon-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.nav-icon-container > a {
  width: 100%;
  height: 100%;
  padding: 16px;
  border-left: 1px solid rgb(238, 238, 238);
}

.search-icon {
  width: 16px;
  height: 16px;
  display: block;
  background: url("images/search.svg");
  background-repeat: no-repeat;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 16px;
  width: 16px;
}

.menu-item > span {
  display: block;
  background-color: rgb(255, 68, 34);
  width: 20px;
  height: 2px;
  margin-top: -1px;
}

main {
  margin-top: 48px;
  background-color: rgb(248, 248, 248);
}

@media (min-width: 768px) {
  main {
    margin-top: 80px;
  }

  .menu-item {
    display: none;
  }
}

.first-section {
  padding: 4px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 289px);
}

@media (min-width: 768px) {
  .first-section {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 448px;
  }

  .first-section :first-child {
    grid-row: span 2;
  }
}

@media (min-width: 1024px) {
  .first-section {
    height: 560px;
  }
}

.cover-container {
  padding: 4px;
  color: white;
  position: relative;
}

.cover-container > div {
  width: 100%;
  height: 100%;
}

.gradient-cover {
  display: block;
  background: rgba(0, 0, 0, 0.253) url("images/gradient.png") no-repeat;
  background-size: 100% 100%;
  z-index: 2;
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
}

.gradient-cover:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

@media (min-width: 1024px) {
  #first-article-gradient {
    background: transparent url("images/red-gradient.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    z-index: 2;
    mix-blend-mode: lighten;
  }
}

.cover-content {
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  padding: 13px;
  flex-direction: column;
  line-height: 1.5;
}

.cover-content a {
  color: white;
  text-decoration: none;
}

.cover-content > h5 {
  font-size: 14px;
}

.cover-content h2 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.3px;
  line-height: 22px;
  margin-bottom: 5px;
}

#first-article-logo {
  display: none;
  width: 421px;
  max-width: 50%;
  height: 100%;
  max-height: 112px;
  position: absolute;
  left: 24px;
  top: 24px;
  background: url("images/tnw.svg") no-repeat;
  background-size: contain;
}

#first-article-date {
  font-size: 15px;
  position: absolute;
  right: 24px;
  top: 16px;
  line-height: 21px;
  display: none;
}

@media (min-width: 768px) {
  #first-article-title {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.6px;
  }
}

@media (min-width: 1024px) {
  #first-article-title {
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.84px;
  }

  #first-article-date {
    display: block;
  }

  #first-article-logo {
    display: block;
  }
}

.cover-content * {
  z-index: 3;
  position: relative;
}

#cover1 {
  background: url("images/cover1.jpg");
  background-position: 50% 50%;
  background-size: cover;
}

#cover2 {
  background: url("images/cover2.jpg");
  background-position: 50% 50%;
  background-size: cover;
}

#cover3 {
  background: url("images/cover3.png");
  background-position: 50% 50%;
  background-size: cover;
}

.cover-details {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.cover-details,
.cover-details a {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.602);
}

.cover-details a:hover {
  color: white;
}

.clock-icon,
.share-icon {
  width: 16px;
  height: 16px;
  margin: 0 4px 0 8px;
}

.latest {
  padding: 20px;
  max-width: 1152px;
  margin: 20px auto;
}

.section-heading a {
  color: rgb(255, 68, 34);
  font-size: 28px;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: -0.015em;
  line-height: 31px;
  display: block;
  width: fit-content;
  margin-bottom: 20px;
}

.section-heading a:hover {
  color: black;
}

.latest-list > li {
  display: flex;
  padding: 10px 0;
}

.latest-list > li > a {
  display: block;
  margin-right: 10px;
}

.latest-image {
  min-width: 75px;
  width: 75px;
  height: 75px;
}

@media (min-width: 768px) {
  .latest-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: -12px;
    margin-right: -12px;
  }

  .latest-list > li {
    padding: 12px;
    display: grid;
    grid-template-rows: auto auto 1fr;
  }

  .latest-image {
    margin: 0;
    width: 100%;
    height: 0;
    padding-top: 50%;
    margin-bottom: 10px;
  }
}

@media (min-width: 1024px) {
  .latest-list {
    grid-template-columns: repeat(4, 1fr);
  }

  .latest-list > li {
  }
}

#latest1 {
  background: url("images/latest1.png");
  background-position: 50% 50%;
  background-size: cover;
}

#latest2 {
  background: url("images/latest2.jpg");
  background-position: 50% 50%;
  background-size: cover;
}

#latest3 {
  background: url("images/latest3.jpg");
  background-position: 50% 50%;
  background-size: cover;
}

#latest4 {
  background: url("images/latest4.png");
  background-position: 50% 50%;
  background-size: cover;
}

#latest5 {
  background: url("images/latest5.jpg");
  background-position: 50% 50%;
  background-size: cover;
}

#latest6 {
  background: url("images/latest6.png");
  background-position: 50% 50%;
  background-size: cover;
}

#latest7 {
  background: url("images/latest7.png");
  background-position: 50% 50%;
  background-size: cover;
}

#latest8 {
  background: url("images/latest8.jpg");
  background-position: 50% 50%;
  background-size: cover;
}

.latest-text h4 a {
  color: black;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  text-decoration: none;
}

.latest-text h4 a:hover {
  color: rgb(255, 68, 34);
  text-decoration: underline;
}

.latest-text p {
  color: gray;
  font-size: 12px;
  line-height: 18px;
  padding-top: 5px;
}

.latest-text p a {
  text-decoration: none;
  color: rgb(136, 136, 136);
}

.latest-text p a:hover {
  color: black;
}

@media (min-width: 1024px) {
  .latest-text h4 a {
    font-size: 16px;
  }

  .latest-text p {
    font-size: 13px;
  }
}

.funding {
  padding: 10px 20px;
  max-width: 1152px;
  margin: 0 auto;
}

.more-info {
  margin: 0 0 20px 0;
}

.more-info a {
  color: rgb(255, 68, 34);
  display: block;
  text-decoration: none;
  font-size: 14px;
  line-height: 25px;
}

.more-info a:hover {
  color: black;
}

.funding-header {
  display: flex;
  flex-direction: column;
}

.funding-items > div {
  margin: 10px 0;
  background-color: rgb(255, 250, 248);
}

@media (min-width: 768px) {
  .funding-header {
    flex-direction: column;
  }

  .more-info {
    display: flex;
  }

  .more-info a {
    font-size: 16px;
    margin-right: 10px;
  }

  .more-info a:not(:last-child) {
    margin-right: 23px;
    color: rgb(255, 68, 34);
  }

  .more-info a:not(:last-child)::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 16px;
    background-color: rgb(255, 68, 34);
    margin: 5px 10px 0 10px;
  }

  .funding-items {
    display: flex;
    margin: 0 auto;
    margin-left: -10px;
    margin-right: -10px;
  }

  .funding-items > div {
    max-width: 33%;
    flex-basis: 33%;
    margin: 10px;
  }
}

@media (min-width: 1024px) {
  .funding-header {
    flex-direction: row;
    justify-content: space-between;
  }

  .more-info {
    flex-direction: row-reverse;
  }

  .more-info a:first-child::after {
    display: none;
  }

  .more-info a:not(:last-child) {
    margin-right: 0;
  }

  .more-info a:not(:first-child) {
    margin-right: 23px;
  }

  .more-info a:not(:first-child)::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 16px;
    background-color: rgb(255, 68, 34);
    margin: 5px 10px 0 10px;
  }
}

.funding-top {
  display: block;
  color: black;
  text-decoration: none;
  position: relative;
}

.funding-top img {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 11px;
  left: 11px;
}

.funding-top > div > h4 {
  background-color: rgb(255, 68, 34);
  padding: 11px 16px 11px 84px;
  color: white;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}

.funding-second-row {
  background-color: rgba(255, 68, 34, 0.08);
  padding: 11px 16px 11px 84px;
}

.funding-second-row > h4 {
  font-weight: 700;
  font-size: 18px;
}

.funding-second-row > h5 {
  font-size: 11px;
  line-height: 16.5px;
  color: rgb(105, 105, 105);
}

.funding-third-row {
  padding: 16px;
}

.funding-third-row > a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  margin-bottom: 7px;
  font-size: 13px;
  line-height: 22px;
}

.tag-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
  display: block;
  background: url("images/tag.svg");
}

.suitcase-icon {
  width: 16px;
  height: 16px;
  display: block;
  margin-right: 10px;
  background: url("images/suitcase.svg");
}

.funding-fourth-row {
  padding: 16px;
  border-top: 1px solid rgba(255, 67, 34, 0.198);
}

.funding-fourth-row a {
  text-decoration: none;
  color: rgb(56, 56, 56);
  font-size: 12px;
}

.funding-fourth-row a :last-child {
  color: rgb(138, 138, 138);
}

.categories-container {
  padding: 10px 20px;
  margin: 0 auto;
  max-width: 1176px;
}

.categories-container > div {
  padding: 8px 0;
}

@media (min-width: 768px) {
  .categories-container {
    display: flex;
    flex-wrap: wrap;
  }

  .categories-container > div {
    padding: 8px 8px;
    max-width: 50%;
    margin-bottom: 24px;
  }
}

@media (min-width: 1024px) {
  .categories-container > div {
    max-width: 33%;
  }
}

.category-image {
  position: relative;
  width: 100%;
  padding-top: 75%;
}

.category-gradient {
  display: block;
  background: url("images/gradient.png") no-repeat;
  background-size: 100% 100%;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.category-content {
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.category-content h2 a:hover {
  text-decoration: 1px rgb(146, 146, 146) underline;
}

.category-content > h5 {
  color: white;
}

#category1 {
  background-image: url("images/category1.jpg");
}

#category2 {
  background-image: url("images/category2.jpg");
}

#category3 {
  background-image: url("images/category3.jpg");
}

#category4 {
  background-image: url("images/category4.png");
}

#category5 {
  background-image: url("images/category5.jpg");
}

#category6 {
  background-image: url("images/category6.png");
}

#category7 {
  background-image: url("images/category7.png");
}

#category8 {
  background-image: url("images/category8.jpg");
}

#category9 {
  background-image: url("images/category9.png");
}

.category-latest {
  margin: 2px 0;
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 68, 34, 0.06);
}

.category-latest > div {
  padding: 20px;
}

.category-latest > div > h5 {
  color: rgb(255, 68, 34);
  font-size: 13px;
  font-weight: 500;
}

.category-latest > div > h4 > a {
  color: rgb(255, 68, 34);
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
}

.category-latest > div > h4 > a:hover {
  text-decoration: underline;
}

.category-latest-image {
  min-width: 96px;
  width: 96px;
  height: 96px;
  display: block;
}

#category-latest1 {
  background: url("images/category-latest1.jpg") no-repeat 50% 50%;
  background-size: cover;
}

#category-latest2 {
  background: url("images/category-latest2.jpg") no-repeat 50% 50%;
  background-size: cover;
}

#category-latest3 {
  background: url("images/category-latest3.jpg") no-repeat 50% 50%;
  background-size: cover;
}

#category-latest4 {
  background: url("images/category-latest4.jpg") no-repeat 50% 50%;
  background-size: cover;
}

#category-latest5 {
  background: url("images/category-latest5.png") no-repeat 50% 50%;
  background-size: cover;
}

#category-latest6 {
  background: url("images/category-latest6.jpg") no-repeat 50% 50%;
  background-size: cover;
}

#category-latest7 {
  background: url("images/category-latest7.jpeg") no-repeat 50% 50%;
  background-size: cover;
}

#category-latest8 {
  background: url("images/category-latest8.jpg") no-repeat 50% 50%;
  background-size: cover;
}

#category-latest9 {
  background: url("images/category-latest9.png") no-repeat 50% 50%;
  background-size: cover;
}

.category-list > li {
  list-style-position: outside;
  position: relative;
  border-bottom: 1px solid rgb(226, 226, 226);
}

.category-list > li::before {
  content: "";
  position: absolute;
  height: 4px;
  width: 4px;
  background-color: rgb(255, 68, 34);
  left: 0;
  top: 17px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.category-list > li > a {
  text-decoration: none;
  color: rgb(61, 61, 61);
  font-size: 13px;
  line-height: 19.5px;
  padding: 6px 0;
  padding-left: 15px;
  display: block;
}

.category-list > li > a:hover {
  color: black;
}

.deals {
  padding: 20px;
  max-width: 1152px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .deals {
    padding-bottom: 50px;
  }
}

.deals-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deals-top > a {
  color: rgb(255, 68, 34);
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 20px;
  margin-top: 5px;
}

@media (min-width: 768px) {
  .deals-top > a {
    font-size: 16px;
  }
}

.deals-list {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
}

.deals-list > li {
  padding: 8px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 15px;
  position: relative;
}

.discount-banner {
  background: url("images/discount.svg") no-repeat;
  height: 80px;
  width: 80px;
  position: absolute;
  right: 8px;
  top: 8px;
  font-size: 14px;
  font-weight: 700;
  color: black;
  display: none;
  text-align: center;
}

.discount-banner > div {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  position: absolute;
  left: 18px;
  top: 24px;
}
@media (min-width: 768px) {
  .deals-list {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: none;
  }

  .deals-list > li {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
  }

  .discount-banner {
    display: block;
  }
}

@media (min-width: 1024px) {
  .deals-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
  }

  .deals-list > li {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
  }
}

.deals-image {
  width: 75px;
  height: 75px;
  display: block;
  margin-bottom: 8px;
}

@media (min-width: 768px) {
  .deals-image {
    width: 100%;
    height: 0;
    background-position: 0 100%;
    padding-top: 74.5%;
  }
}

#deals1 {
  background: url("images/deals1.jpg") no-repeat 50% 50%;
  background-size: cover;
}

#deals2 {
  background: url("images/deals2.jpg") no-repeat 50% 50%;
  background-size: cover;
}

#deals3 {
  background: url("images/deals3.jpg") no-repeat 50% 50%;
  background-size: cover;
}

#deals4 {
  background: url("images/deals4.jpg") no-repeat 50% 50%;
  background-size: cover;
}

#deals5 {
  background: url("images/deals5.jpg") no-repeat 50% 50%;
  background-size: cover;
}

#deals6 {
  background: url("images/deals6.jpg") no-repeat 50% 50%;
  background-size: cover;
}

#deals7 {
  background: url("images/deals7.jpg") no-repeat 50% 50%;
  background-size: cover;
}

#deals8 {
  background: url("images/deals8.jpg") no-repeat 50% 50%;
  background-size: cover;
}

.deals-details > h4 {
  margin-bottom: 10px;
}

.deals-details > h4 > a {
  color: black;
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
}

.deals-details > h4 > a:hover {
  color: rgb(255, 68, 34);
  text-decoration: 1px rgba(255, 67, 34, 0.37) underline;
}

.old-price {
  font-size: 12px;
  color: rgb(170, 170, 170);
  text-decoration: line-through;
}

.new-price {
  font-size: 14px;
  color: rgb(85, 85, 85);
}

@media (min-width: 1024px) {
  .deals-details > h4 > a {
    font-size: 16px;
  }

  .old-price {
    font-size: 14px;
  }

  .new-price {
    font-size: 16px;
  }
}

.footer-top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(19, 19, 19);
  padding: 35px 0;
}

.external-links-list {
  display: flex;
  margin-bottom: 25px;
}

.external-links-list > li {
  background-color: rgb(51, 51, 51);
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border: 1px solid rgb(51, 51, 51);
  margin: 0 3px;
}

@media (min-width: 768px) {
  .external-links-list > li {
    margin: 0 8px;
  }
}

.external-links-list > li:hover {
  background-color: rgb(0, 0, 0);
}

.external-links-list > li > a {
  background: rgb(96, 212, 43);
  display: block;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  padding: 10px;
  width: 38px;
  height: 38px;
  background-origin: padding-box;
  background-size: 50% 50%;
}

#facebook-icon {
  background: url("images/facebook.svg") no-repeat 50% 50%;
}

#twitter-icon {
  background: url("images/twitter.svg") no-repeat 50% 50%;
}

#youtube-icon {
  background: url("images/youtube.svg") no-repeat 50% 50%;
}

#instagram-icon {
  background: url("images/instagram.svg") no-repeat 50% 50%;
}

#pinterest-icon {
  background: url("images/pinterest.svg") no-repeat 50% 50%;
}

#rss-icon {
  background: url("images/rss.svg") no-repeat 50% 50%;
}

#email-icon {
  background: url("images/email.svg") no-repeat 50% 50%;
}

.site-links-list {
  display: flex;
}

.site-links-list > li {
  margin: 0 5px;
}

.site-links-list a {
  color: rgb(170, 170, 170);
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
}

.site-links-list a:hover {
  color: white;
}

.footer-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  padding: 35px 0;
  color: gray;
}

.footer-bottom p {
  color: rgb(170, 170, 170);
  font-size: 13px;
  line-height: 19.5px;
}

#tnw-logo {
  height: 9px;
  width: 37px;
}

#stackpath-logo {
  width: 65px;
  height: 9px;
}
